<!DOCTYPE html>
<html>
<head>
  <h3>field position</h3>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
<span id="outerfield">
 <span id="infield">
  <span id="circle"
   <br>
  <div class="pitch"></div>
<br>
   </span>
  <div class="one"></div>
  <span class="two"></span>
   <span class="three"></span>
   <span class="four"></span>
   <span class="five"></span>
   <span class="six"></span>
   <span class="seven"></span>
   <span class="eight"></span>
   <span class="nine"></span>
   <span class="ten"></span>
   <span class="eleven"></span>
   <span class="u1"></span>
   <span class="u2"></span>
   <span class="b1"></span>
   <span class="b2"></span> 
   <br><br>
 </span>
  </span> 
  <div>hey</div>
</body>
</html>