// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pitch{
  height: 110px;
  width: 35px;
  top: 90px;
  position: relative;
  left: 120px;
  #border-radius: 50px;
  background-color:rgb(	210,105,30);
}
#outerfield {
  height: 500px;
  width: 500px;
  display: inline-block;
  background-color:rgb(1, 220, 0);
  position: relative;
  border-radius: 230px;
}
#infield{
  height: 290px;
  width: 270px;
  display: inline-block;
  top: 114px;
  left: 120px;
  background-color:rgb(1, 200, 1);
  position: relative;
  border-radius: 230px;  
}
.one{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 10px;
  top: -50px;
  border-radius: 5px;
  background-color:black;
}
.two{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: -10px;
  top: -5px;
  border-radius: 5px;
  background-color:black;
}
.three{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 20px;
  top: 40px;
  border-radius: 5px;
  background-color:black;
}
.four{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 30px;
  top: 130px;
  border-radius: 5px;
  background-color:black;
}
.five{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: -80px;
  top: -200px;
  border-radius: 5px;
  background-color:black;
}
.six{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 60px;
  top: -100px;
  border-radius: 5px;
  background-color:black;
}
.seven{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 110px;
  top: 130px;
  border-radius: 5px;
  background-color:black;
}
.eight{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 140px;
  top: 50px;
  border-radius: 5px;
  background-color:black;
}
.nine{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 10px;
  top: 100px;
  border-radius: 5px;
  border-right: 2px solid blue;
  background-color:black;
}
.ten{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 230px;
  top: -30px;
  border-radius: 5px;
  background-color:black;
}
.eleven{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 150px;
  top: -190px;
  border-radius: 5px;
  background-color:black;
}
.b1{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: -45px;
  top: -40px;
  border-radius: 2px;
  background-color:blue;
}.b2{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: -45px;
  top: 55px;
  border-radius: 2px;
  background-color:blue;
}.u1{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: -22px;
  top: 70px;
  border-radius: 5px;
  background-color: white;
}.u2{
  height: 10px;
  width: 10px;
  position: relative;
  display: inline-block;
  left: 60px;
  top: -35px;
  border-radius: 5px;
  background-color:white;
}
